<%# \\wsl.localhost\Ubuntu\home\aivets\projects\furima-39831\app\views\shared/_error_messages.html.erb %>
<% if model.errors.any? %>
<div class="error-alert">
  <ul>
    <% model.errors.full_messages.each do |message| %>
    <li class='error-message'><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>