<%# \\wsl.localhost\Ubuntu\home\aivets\projects\furima-39831\app\views\devise\mailer\password_change.html.erb %>
<p>Hello <%= @resource.email %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>
